.video-container{
    padding: 10px 130px 10px 130px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
}

@media (max-width: 952px) {
    .video-container{
        grid-template-columns: repeat(2, 1fr);
        padding: 10px 40px 10px 40px;
    }
}

@media (max-width: 720px) {
    .video-container{
        grid-template-columns: repeat(1, 1fr);
    }
}